op5monitor:
  host: monitor.aw.oc-testbench.xyz
  user: monitor
  passwd: monitor
  metric_prefix: monitor
  custom_vars:
    - env:
        label_name: environment
    - site:
        label_name: site_